.image{
    width: 329px;
    height: 200px;
}

.frontend {
    text-decoration: underline;
}

.t1{
    margin-bottom: 0;
}

.peevees {
    width: 440px;
    height: 200px;
}

.links {
    color: black;
}